.reactMarkDown {
    display: block;
    white-space: pre-wrap;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.reactMarkDown h1 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.reactMarkDown h2 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.reactMarkDown h3 {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.reactMarkDown h4 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.reactMarkDown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
}

.reactMarkDown ul li {
    margin-left: 2em;
    display: list-item;
    text-align: -webkit-match-parent;
}

.reactMarkDown p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 300;
}

.reactMarkDown a {
    color: #0077cc;
    text-decoration: none;
}

.reactMarkDown a:hover {
    text-decoration: underline;
}